*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}
.clock{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(clock.png);
    background-size: cover;
    box-shadow: 0 -15px 15px rgba(134, 134, 134, 0.35),
    inset 0 -15px 15px #191919,
    0 15px 15px rgba(134, 134, 134, 0.35),
    inset 0 15px 15px #191919;
    border-radius: 50%;
}  
.clock::before{
    content: "";
    position: absolute;
    widows: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 999;
} 
.clock .hour,
.clock .min,
.clock .sec{
    position: absolute;
}
.clock .hour, .hr{
    width: 160px;
    height: 160px;
}
.clock .min, .mn{
    width: 190px;
    height: 190px;
}
.clock .sec, .sc{
    width: 230px;
    height: 230px;
}
.hr, .mn, .sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr:before{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background-color: #ffc600;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background-color: #fff;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.sc:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background-color: #fff;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}
.timer{
    margin: 70px 0;
    font-family: 'Anonymous Pro', monospace;
  }
  .timer-time{
    display: block;
    font-size: 30px;
    margin: 200px 0 20px 5px;
  }
  .timer input[type="number"] {
    color: #f0f8ff;
      background-color:rgba(40, 167, 167, 0.322);
      outline: none;
    text-align: center;
      height: 40px;
      text-indent: 10px;
      display: block;
      width: 70px;
      box-sizing: border-box;
      border: 1px;
      font-size: 14px;
      border-radius: 3px;
    padding: 0 7px 0 0;
    margin: 0 0 20px 125px;
  }
  .timer input[type="number"]::-webkit-outer-spin-button,
  .timer input[type="number"]::-webkit-inner-spin-button {
      display: none;
  }
  
  button{
    font-family: 'Fontawesome';
    font-size: 35px;
    background-color: springgreen;
    outline: none;
    border: solid;
    cursor: pointer;
    margin: 0 10px 0 10px;
  }
  
  .timer .play{
    color: rgba(88, 185, 93, 0.5);
  }
  
  .timer .pause{
    color: rgba(253, 253, 253, 0.6);
  }
  
  .timer .reset{
    color: rgba(167, 50, 50, 0.6);
  }